customtkinter
SpeechRecognition
edge-tts
pygame
groq
google-generativeai
google-auth-oauthlib
google-api-python-client
pystray
Pillow
psutil
python-dateutil
pyautogui
requests
python-kasa
keyboard
pytz
pywhatkit
